

* {

  box-sizing: border-box;

}

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;


}


.page-width {
  width: 75vw;
  margin: auto;
 /* position: relative;*/
}

.top-layer {
  display: none;
  z-index: 1000;
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;

 
}

.result {
  overflow: scroll;
  width: 75vw;
  height: 75vh;
  background-color: white;
  z-index: 20;
  padding: 30px;
  
}

.result button {
  position: absolute;
  right: 15%;
  top: 15%;
  color: black;
  background-color: rgba(0,0,0,0);
  padding: 5px;

}

.result button i {
  color: black;
}

/************HEADER8****************/

.container {
  width: 100%;
  margin-top: 15px;
  display: flex;
  /*margin-left: 20px;*/
  justify-content: center;


}

i {
  color: black;
  margin-right: 5px;
}


a { 
 text-decoration: none;

}

a:hover {
  text-decoration: none;
}

.nav {

  display: none;

}


.search-bar {
  display: flex;
  max-width: 100%;
  margin-left: 8%;
  padding-left: 20px;
  padding-right: 20px;
  flex: 0 1 420px;
  max-width: 400px;


}


.search { 

  color: white;
  margin-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0;
  padding-left: 10px;
  padding-right: 0;
  width: 100%;


}

.search-bar input::placeholder {
  color: white;
  font-size: 0.8rem;

}

button {
  background-color: red;
  border-radius: 10px;
  color: white;
  padding: 10px;
  border: none;
  margin-left: -10px;
  padding-left: 18px;
  padding-right: 15px;

}

button i { 

  color: white;

}


.links {
  font-size: 0.8rem;
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account a {
  color: red;
}

.followed a {
  color: black;
}

.cart img {
  height: 20px;
}


.cart a {
  color: red;
  font-size: 1.2rem;
  margin-left: 70px;

}



.mobile-out {
  margin: 0;
}

/************TILES****************/

.tiles { 
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
 
  flex-wrap: wrap;

 }


.hotspot { 
  
  padding-bottom: 22%;
  margin: 15px;
  position: relative;
  flex: 1 1 130px;
  height: auto;
  min-height: 140px;


 }

  .hotspot:hover {
    transition: 0.2s;
    transform: scale(1.1, 1.1);
  }

.banner-img1 {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 30%;
  height: auto;
}

.banner-img2 {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 27%;
  height: auto;
}

.banner-img3 {
  position: absolute;
  top: 15%;
  left: 40%;
  width: 20%;
  height: auto;
}

.banner-img4 {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 30%;
  height: auto;
}


.title {
  color: white;
  position: absolute;
  bottom: 7%;
  left: 25%;
  text-align: center;
  width: 50%;
  font-size: 1.5vw;
}


.banner1 {
  background: url('./img/hotspot_banner1.png');
  background-size: cover;
}

.banner2 {
  background: url('./img/hotspot_banner2.png');
  background-size: cover;
}

.banner3 {
  background: url('./img/hotspot_banner3.png');
  background-size: cover;
}

.banner4 {
  background: url('./img/hotspot_banner4.png');
  background-size: cover;
}


/************NEW ITEMS****************/

h2 {
  margin: 30px;
  margin-top: 50px;
  letter-spacing: 0.2em;
  text-align: center;
}


h3 {
  margin-bottom: 0;
}

.price {
  margin-top: 0;
  color: red;
}

/******LOGOS***************/

.logos-info p {
  color: grey;
  font-style: italic;
  text-align: center;
  font-size: 0.9em;
}
/********FOOTER****************/

footer {
  margin-top: 50px;

  width: 100vw;
}

.newsletter-background {
    background-color: #3E84C0;
    width: 100%;


}

.newsletter {
  margin: auto;
  width: 75vw;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}


.newsletter h2 {
  margin: 30px 0px 30px 0px;
  flex: 1;
  padding-left: 0;
}


form {

  flex: 3;
}

form input {
  margin-right: 20px;
  padding: 8px;
  width: 30%;
  border: 0;
  border-radius: 3px;

}

form button {
  margin-left: 2px;
  padding: 10px 50px 10px 50px;
  width: 30%;
  border-radius: 5px;
}

.bottom-background {
    background-color: #4D4D4D;
    width: 100%;
}
.bottom-info {
  margin: auto;
  width: 75vw;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px 0;
  color: white;

}

.bottom-info div {
  flex: 1;
}

.bottom-info h4 {
  margin-bottom: 10px;

}

.bottom-info ul {
  list-style-type: none;
  padding-left: 0;
}

.bottom-info ul li {
  font-size: 13px;
  margin-bottom: 10px;
}

.bottom-info p {
  font-size: 14px;
}

.payment {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 75vw;
  margin: auto;

}

  .mobile-dropdown {
    display: flex;

  }

  .bottom-info a {
    color: white;
  }


@media only screen and (max-width: 1200px) and (min-width: 980px) {
    .container {
     max-width: 1170px;

   }
   .search-bar {
    margin-left: 10px;
    flex-basis: 300px;
  }
  .cart a {
    margin-left: 20px;
  }

}

@media only screen and (max-width: 979px) and (min-width: 758px){
  .container {
    max-width: 970px;
    

  }

  .cart.mobile-out {
    display: none;
  }

  .search-bar {
    flex-basis: 250px;
    margin-left: 10px;
  }
  .links {
    margin-left: 10px;
  }

  .logo {
    width: 25%;

  }
  .logo img {
    width: 100%;
  }

  .cart a {
    margin-left: 10px;
  }

  .hotspot {
    max-width: 150px;
  }



}

/**********NEWS******************/

.news {
  display: flex;
  justify-content: space-between;
  height: 100%;


}

.info p {
  text-align: justify;
  margin-top: 5px;
}

.info h3 {
  font-size: 13px;
    text-transform: uppercase;
}

.info {
  margin: 15px;

  height: 420px;
  position: relative;



}

.date {
  font-style: italic;
  margin: 5px;
}


.read-more {
  position: absolute;
  bottom: 0;
  background-color: #3E84C0;
  border-radius: 2px;
  padding: 7px;
  margin-left: 2px;


}




@media only screen and (max-width: 757px) {
  .page-width {
    width: 85vw;
  }

  .container {
    max-width: 749px;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 10px;


  } 

  .search-bar {
    display: none;
  }

  .mobile-out {
    display: none;
  }


  i {
    font-size: 2.5rem;
  }

  .nav {
    display: inline-block;
    visibility: visible;
    width: 120px;
    
  }

  .logo {
    margin-right: 10px;
  }

  .logo img {
    width: 250px;
  }

  .links {
    width: 250px;

  }

  .right{
    width: 30%;
  }


  .cart img {
    height: 40px;

  }

  .cart a {
    margin-left: 20px;
  }

 /*********DROPDOWN MENU*************/

  div + ul {
    margin-top: 10px;
    margin-left: 0px;
    position: relative;
  }

  .dropdown-menu  { 
    display: block;
    width:100vw;
    margin-left: -9%;

  }

  .dropdown-menu.off {
    display: none;
  }

  a { 
    display: block; 
    padding: 15px;



  }

  div + ul li a {
    border-radius: 0;
  }

  .dropdown-menu > li > a > i {
    display: none;
  }

  li {

    width: 100%;

  }

  .dropdown-menu > li  {
    border-bottom: 1px solid grey;

  }
  .dropdown-menu > li> a {
    margin-left: 2%;

  }

  .dropdown-menu > li> a:after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-weight: 900;
    position: absolute;
    right: 10px;

  }

  .dropdown-menu > li > a:hover + ul {

    position: static;
    margin: 0;
    width: 100vw;
    box-shadow: none;
   

  }



  .dropdown-menu > li > a + ul:hover {
    display: flex;
    position: static;
    box-shadow: none;


  }


  /**********TILES*************/

  .tiles {
    flex-direction: column;
    height: 350px;
  }
  .title {
    font-size: 15px;
  }
  .hotspot {
    max-width: 170px;
    margin: 10px;
    max-height: 170px;

  }



  .banner3 {
      order: 3;

    }

  .banner-img1,  .banner-img2,  .banner-img3,  .banner-img4 {
    left: 60%;
    top: 7%;

  }

  /**********NEWS****************/

  .info2, .info3 {
    display: none;
  }

  /******FOOTER*************/

  .newsletter{
    flex-direction: column;
    width: 85vw;
  }

  .newsletter h2 {
      margin-top: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  form input {

    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
  }
  form button {
    width: 100%;
    padding: 20px;

  }

  .bottom-info {
    flex-direction: column;
    width: 85vw;
  }

  .mobile-dropdown {
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: 0;
    margin-left: 9%;
    position: relative;
    

  }

  .contact a {
    padding-left: 0;
  }

  .mobile-dropdown:after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-weight: 900;
    position: absolute;
    right: 30px;

  }

  .dotpay {
    display: none;
  }

  .mobile-dropdown-menu {
    width: 100vw;
    border-bottom: 1px solid grey;
    margin-left: -9%;
  }

  .mobile-dropdown + ul {

    display: none;
    margin-left: 9%;
  }

  .mobile-dropdown + ul.active {
    display: block;
  }

  .mobile-dropdown.active:after {
    content: "\f106";
  }

  .telephone {
    font-size: 25px !important;

  }

  .payment {
    justify-content: center;
  }
}

